<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/euler-theme/">
    <!-- <link rel="canonical" href=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="max-snippet:-1">
    <meta name="description" content="Building Better Businesses • What if you could build the future success and value of your business systematically? • Your growth requires an individual approach. • Maximizing focus & minimizing risk.">
    <meta name="theme-color" content="#AD0040">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png?v=2">
    <link rel="manifest" href="assets/favicon/site.webmanifest?v=2">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico?v=2">
    <meta name="msapplication-TileColor" content="#AD0040">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml?v=2">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Building Better Businesses">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hotbird.one">
    <meta property="og:image" content="assets/brand/hbc-open-graph.png">
    <meta property="og:image:alt" content="Abstract image with Hotbird & Company Logo and tagline.">
    <meta property="og:description" content="What if you could build the future success and value of your business systematically? • Your growth requires an individual approach. • Maximizing focus & minimizing risk.">
    <meta property="og:site_name" content="Hotbird & Company">
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">

    <meta name="google-site-verification" content="">
    <title>{{ title }} | Hotbird &amp; Company</title>
    <link rel="stylesheet" href="assets/themes/hotbird/css/main.css">
</head>

<body class="{{ bodyModifier }}">
    {% include "partials/header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
    <script src="assets/themes/hotbird/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>