---
layout: "base.njk"
title: "Blog"
elrHeaderModifier: ""
bodyModifier: ""
---

{% set hbcBlogText %}
<h2>Hello World Zine!</h2>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ducimus. Quam qui eos velit, itaque ipsam omnis sint veritatis nisi dolore illo exercitationem dolores necessitatibus laborum tempore nostrum veniam delectus?
{% endset %}
{% include "partials/hbc-blog-text.njk" %}


{% set elrGridContent %}
    {% set elrFigureUrl %}assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg{% endset %}
    {% set elrFigureModifier %}

    {% endset %}
    {% set elrFigureCaption %}
        generic brand image
    {% endset %}
    {% include "partials/elr-figure.njk" %}
{% endset %}
{% include "partials/elr-grid.njk" %}


{% set hbcBlogText %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ducimus. Quam qui eos velit, itaque ipsam omnis sint veritatis nisi dolore illo exercitationem dolores necessitatibus laborum tempore nostrum veniam delectus?
{% endset %}
{% include "partials/hbc-blog-text.njk" %}