---
layout: "base.njk"
title: "Home"
elrHeaderModifier: "elr-header--bg-media"
bodyModifier: ""
---

{% include "partials/hbc-cta.njk" %}

{% include "partials/hbc-statement.njk" %}


{% set hbcImageUrl %}assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg{% endset %}
{% set hbcImageOptions %}

{% endset %}
{% set hbcImageCaption %}
generic brand image
{% endset %}
{% include "partials/hbc-image.njk" %}

{% include "partials/elr-card-grid.njk" %}

{% include "partials/hbc-display-list.njk" %}

{% set elrFeatureBoxContent %}
{% set elrAccordionId %}accordionOne{% endset %}
{% include "partials/elr-accordion.njk" %}
{% endset %}
{% include "partials/elr-feature-box.njk" %}

{% include "partials/elr-card-grid.njk" %}