---
layout: "base.njk"
title: "Value Card"
elrTemplateType: "blog"
elrTemplate: "value-card"
elrHeaderModifier: "elr-header--blog"
elrBodyModifier: ""
---

{% include "partials/elr-layout-card.njk" %}