// # CUSTOM GLOBAL VALUES
$abbr: "elr"; // project abbreviation for CSS variables (to make code copiable between projects)

$elr-font-sans: "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$elr-font-sans-condensed: "IBM Plex Sans Condensed", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$elr-font-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$elr-font-serif: "IBM Plex Serif", "Times New Roman";

$elr-border-radius: none;

$elr-aspect-ratio: "16/10";

$elr-section-gaps: (
    6: 5rem,
    7: 7rem,
    8: 9rem,
    9: 12rem
);

$elr-header-width-max: 125rem;
$elr-header-height-full: 80vh;
$elr-header-height-medium: 40vh;
$elr-header-media-tint: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 60%
);
$elr-header-media-tint-mobile: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)
);

$elr-layout-blog-breakpoint: lg;


// ## CUSTOM COLOR VALUES
// ### WHITE + GRAY
$elr-white: #f2f2f2;
$elr-dark: #0d0d0d;

// ### GREYS
$elr-grey: #808080;
$elr-grey-10: tint-color($elr-grey, 80%);
$elr-grey-20: tint-color($elr-grey, 60%);
$elr-grey-30: tint-color($elr-grey, 40%);
$elr-grey-40: tint-color($elr-grey, 20%);
$elr-grey-50: $elr-grey;
$elr-grey-60: shade-color($elr-grey, 20%);
$elr-grey-70: shade-color($elr-grey, 40%);
$elr-grey-80: shade-color($elr-grey, 60%);
$elr-grey-90: shade-color($elr-grey, 80%);

$elr-greys: (
    "10": $elr-grey-10,
    "20": $elr-grey-20,
    "30": $elr-grey-30,
    "40": $elr-grey-40,
    "50": $elr-grey-50,
    "60": $elr-grey-60,
    "70": $elr-grey-70,
    "80": $elr-grey-80,
    "90": $elr-grey-90
);

$elr-greys-dark: (
    "10": $elr-grey-90,
    "20": $elr-grey-80,
    "30": $elr-grey-70,
    "40": $elr-grey-60,
    "50": $elr-grey-50,
    "60": $elr-grey-40,
    "70": $elr-grey-30,
    "80": $elr-grey-20,
    "90": $elr-grey-10
);

// ### COLORS
$elr-amaranth: #AD0040;
$elr-amaranth-10: tint-color($elr-amaranth, 80%);
$elr-amaranth-20: tint-color($elr-amaranth, 60%);
$elr-amaranth-30: tint-color($elr-amaranth, 40%);
$elr-amaranth-40: tint-color($elr-amaranth, 20%);
$elr-amaranth-50: $elr-amaranth;
$elr-amaranth-60: shade-color($elr-amaranth, 20%);
$elr-amaranth-70: shade-color($elr-amaranth, 40%);
$elr-amaranth-80: shade-color($elr-amaranth, 60%);
$elr-amaranth-90: shade-color($elr-amaranth, 80%);

$elr-gold: #C4A765;
$elr-gold-10: tint-color($elr-gold, 80%);
$elr-gold-20: tint-color($elr-gold, 60%);
$elr-gold-30: tint-color($elr-gold, 40%);
$elr-gold-40: tint-color($elr-gold, 20%);
$elr-gold-50: $elr-gold;
$elr-gold-60: shade-color($elr-gold, 20%);
$elr-gold-70: shade-color($elr-gold, 40%);
$elr-gold-80: shade-color($elr-gold, 60%);
$elr-gold-90: shade-color($elr-gold, 80%);

$elr-steel: #356D9A;
$elr-steel-10: tint-color($elr-steel, 80%);
$elr-steel-20: tint-color($elr-steel, 60%);
$elr-steel-30: tint-color($elr-steel, 40%);
$elr-steel-40: tint-color($elr-steel, 20%);
$elr-steel-50: $elr-steel;
$elr-steel-60: shade-color($elr-steel, 20%);
$elr-steel-70: shade-color($elr-steel, 40%);
$elr-steel-80: shade-color($elr-steel, 60%);
$elr-steel-90: shade-color($elr-steel, 80%);

$elr-black-violet: #0F0CB3;
$elr-black-violet-10: tint-color($elr-black-violet, 80%);
$elr-black-violet-20: tint-color($elr-black-violet, 60%);
$elr-black-violet-30: tint-color($elr-black-violet, 40%);
$elr-black-violet-40: tint-color($elr-black-violet, 20%);
$elr-black-violet-50: $elr-black-violet;
$elr-black-violet-60: shade-color($elr-black-violet, 20%);
$elr-black-violet-70: shade-color($elr-black-violet, 40%);
$elr-black-violet-80: shade-color($elr-black-violet, 60%);
$elr-black-violet-90: shade-color($elr-black-violet, 80%);

$elr-green: #34C759;
$elr-green-10: tint-color($elr-green, 80%);
$elr-green-20: tint-color($elr-green, 60%);
$elr-green-30: tint-color($elr-green, 40%);
$elr-green-40: tint-color($elr-green, 20%);
$elr-green-50: $elr-green;
$elr-green-60: shade-color($elr-green, 20%);
$elr-green-70: shade-color($elr-green, 40%);
$elr-green-80: shade-color($elr-green, 60%);
$elr-green-90: shade-color($elr-green, 80%);

$elr-orange: #FF6900;
$elr-orange-10: tint-color($elr-orange, 80%);
$elr-orange-20: tint-color($elr-orange, 60%);
$elr-orange-30: tint-color($elr-orange, 40%);
$elr-orange-40: tint-color($elr-orange, 20%);
$elr-orange-50: $elr-orange;
$elr-orange-60: shade-color($elr-orange, 20%);
$elr-orange-70: shade-color($elr-orange, 40%);
$elr-orange-80: shade-color($elr-orange, 60%);
$elr-orange-90: shade-color($elr-orange, 80%);

$elr-yellow: #FF9F0A;
$elr-yellow-10: tint-color($elr-yellow, 80%);
$elr-yellow-20: tint-color($elr-yellow, 60%);
$elr-yellow-30: tint-color($elr-yellow, 40%);
$elr-yellow-40: tint-color($elr-yellow, 20%);
$elr-yellow-50: $elr-yellow;
$elr-yellow-60: shade-color($elr-yellow, 20%);
$elr-yellow-70: shade-color($elr-yellow, 40%);
$elr-yellow-80: shade-color($elr-yellow, 60%);
$elr-yellow-90: shade-color($elr-yellow, 80%);

// ### DARK-MODE COLORS
$elr-amaranth-dark: #BD3366;
$elr-amaranth-dark-10: tint-color($elr-amaranth-dark, 80%);
$elr-amaranth-dark-20: tint-color($elr-amaranth-dark, 60%);
$elr-amaranth-dark-30: tint-color($elr-amaranth-dark, 40%);
$elr-amaranth-dark-40: tint-color($elr-amaranth-dark, 20%);
$elr-amaranth-dark-50: $elr-amaranth-dark;
$elr-amaranth-dark-60: shade-color($elr-amaranth-dark, 20%);
$elr-amaranth-dark-70: shade-color($elr-amaranth-dark, 40%);
$elr-amaranth-dark-80: shade-color($elr-amaranth-dark, 60%);
$elr-amaranth-dark-90: shade-color($elr-amaranth-dark, 80%);

$elr-black-violet-dark: #645FFF;
$elr-black-violet-dark-10: tint-color($elr-black-violet-dark, 80%);
$elr-black-violet-dark-20: tint-color($elr-black-violet-dark, 60%);
$elr-black-violet-dark-30: tint-color($elr-black-violet-dark, 40%);
$elr-black-violet-dark-40: tint-color($elr-black-violet-dark, 20%);
$elr-black-violet-dark-50: $elr-black-violet-dark;
$elr-black-violet-dark-60: shade-color($elr-black-violet-dark, 20%);
$elr-black-violet-dark-70: shade-color($elr-black-violet-dark, 40%);
$elr-black-violet-dark-80: shade-color($elr-black-violet-dark, 60%);
$elr-black-violet-dark-90: shade-color($elr-black-violet-dark, 80%);

// ### MAPS
$elr-amaranths: (
    "10": $elr-amaranth-10,
    "20": $elr-amaranth-20,
    "30": $elr-amaranth-30,
    "40": $elr-amaranth-40,
    "50": $elr-amaranth-50,
    "60": $elr-amaranth-60,
    "70": $elr-amaranth-70,
    "80": $elr-amaranth-80,
    "90": $elr-amaranth-90
);

$elr-golds: (
    "10": $elr-gold-10,
    "20": $elr-gold-20,
    "30": $elr-gold-30,
    "40": $elr-gold-40,
    "50": $elr-gold-50,
    "60": $elr-gold-60,
    "70": $elr-gold-70,
    "80": $elr-gold-80,
    "90": $elr-gold-90
);

$elr-steels: (
    "10": $elr-steel-10,
    "20": $elr-steel-20,
    "30": $elr-steel-30,
    "40": $elr-steel-40,
    "50": $elr-steel-50,
    "60": $elr-steel-60,
    "70": $elr-steel-70,
    "80": $elr-steel-80,
    "90": $elr-steel-90
);

$elr-black-violets: (
    "10": $elr-black-violet-10,
    "20": $elr-black-violet-20,
    "30": $elr-black-violet-30,
    "40": $elr-black-violet-40,
    "50": $elr-black-violet-50,
    "60": $elr-black-violet-60,
    "70": $elr-black-violet-70,
    "80": $elr-black-violet-80,
    "90": $elr-black-violet-90
);

$elr-greens: (
    "10": $elr-green-10,
    "20": $elr-green-20,
    "30": $elr-green-30,
    "40": $elr-green-40,
    "50": $elr-green-50,
    "60": $elr-green-60,
    "70": $elr-green-70,
    "80": $elr-green-80,
    "90": $elr-green-90
);

$elr-oranges: (
    "10": $elr-orange-10,
    "20": $elr-orange-20,
    "30": $elr-orange-30,
    "40": $elr-orange-40,
    "50": $elr-orange-50,
    "60": $elr-orange-60,
    "70": $elr-orange-70,
    "80": $elr-orange-80,
    "90": $elr-orange-90
);

$elr-yellows: (
    "10": $elr-yellow-10,
    "20": $elr-yellow-20,
    "30": $elr-yellow-30,
    "40": $elr-yellow-40,
    "50": $elr-yellow-50,
    "60": $elr-yellow-60,
    "70": $elr-yellow-70,
    "80": $elr-yellow-80,
    "90": $elr-yellow-90
);

// ### DARK-MODE MAPS
$elr-amaranths-dark: (
    "10": $elr-amaranth-dark-90,
    "20": $elr-amaranth-dark-80,
    "30": $elr-amaranth-dark-70,
    "40": $elr-amaranth-dark-60,
    "50": $elr-amaranth-dark-50,
    "60": $elr-amaranth-dark-40,
    "70": $elr-amaranth-dark-30,
    "80": $elr-amaranth-dark-20,
    "90": $elr-amaranth-dark-10
);

$elr-golds-dark: (
    "10": $elr-gold-90,
    "20": $elr-gold-80,
    "30": $elr-gold-70,
    "40": $elr-gold-60,
    "50": $elr-gold-50,
    "60": $elr-gold-40,
    "70": $elr-gold-30,
    "80": $elr-gold-20,
    "90": $elr-gold-10
);

$elr-steels-dark: (
    "10": $elr-steel-90,
    "20": $elr-steel-80,
    "30": $elr-steel-70,
    "40": $elr-steel-60,
    "50": $elr-steel-50,
    "60": $elr-steel-40,
    "70": $elr-steel-30,
    "80": $elr-steel-20,
    "90": $elr-steel-10
);

$elr-black-violets-dark: (
    "10": $elr-black-violet-dark-90,
    "20": $elr-black-violet-dark-80,
    "30": $elr-black-violet-dark-70,
    "40": $elr-black-violet-dark-60,
    "50": $elr-black-violet-dark-50,
    "60": $elr-black-violet-dark-40,
    "70": $elr-black-violet-dark-30,
    "80": $elr-black-violet-dark-20,
    "90": $elr-black-violet-dark-10
);

$elr-greens-dark: (
    "10": $elr-green-90,
    "20": $elr-green-80,
    "30": $elr-green-70,
    "40": $elr-green-60,
    "50": $elr-green-50,
    "60": $elr-green-40,
    "70": $elr-green-30,
    "80": $elr-green-20,
    "90": $elr-green-10
);

$elr-oranges-dark: (
    "10": $elr-orange-90,
    "20": $elr-orange-80,
    "30": $elr-orange-70,
    "40": $elr-orange-60,
    "50": $elr-orange-50,
    "60": $elr-orange-40,
    "70": $elr-orange-30,
    "80": $elr-orange-20,
    "90": $elr-orange-10
);

$elr-yellows-dark: (
    "10": $elr-yellow-90,
    "20": $elr-yellow-80,
    "30": $elr-yellow-70,
    "40": $elr-yellow-60,
    "50": $elr-yellow-50,
    "60": $elr-yellow-40,
    "70": $elr-yellow-30,
    "80": $elr-yellow-20,
    "90": $elr-yellow-10
);


// # BOOTSTRAP ADJUSTMENTS
$color-mode-type: media-query;

$headings-font-family: $elr-font-sans-condensed;

$font-family-sans-serif: $elr-font-sans;
$font-family-monospace: $elr-font-monospace;

$display-font-family: $elr-font-sans-condensed;
$display-font-style: null;
$display-font-weight: 500;


$color-accent: #AD0040;
$color-accent-dark: #BD3366;

$body-bg-dark: $elr-dark;


$display-font-sizes: (
    title: 3rem,
    1: 2.5rem,
    2: 2rem,
    3: 1.75rem,
    4: 1.5rem,
    5: 1.25rem
);

$navbar-light-toggler-border-color: none;

$nav-link-font-size: 1.125rem;
$nav-link-font-weight: 500;

$dropdown-color: var(--#{$abbr}-dark);
$dropdown-bg: var(--#{$abbr}-10);
$dropdown-link-color: var(--#{$abbr}-dark);
$dropdown-link-hover-color: var(--#{$abbr}-dark);
$dropdown-link-hover-bg: var(--#{$abbr}-20);
$dropdown-link-active-color: var(--#{$abbr}-dark);
$dropdown-link-active-bg: var(--#{$abbr}-30);
$dropdown-border-radius: $elr-border-radius;
$dropdown-border-width: 0;

$accordion-icon-color: $elr-dark;
$accordion-icon-active-color: $elr-dark;
$accordion-icon-color-dark: $elr-white;
$accordion-icon-active-color-dark: $elr-white;

$card-border-radius: $elr-border-radius;

// ## MODAL
$modal-content-border-color: var(--#{$abbr}-20);
$modal-content-border-width: 0;
$modal-content-border-radius: $elr-border-radius;

$modal-header-border-width: 1px;

$modal-fade-transform: translate(0, 0);
