/* CSS VARIABLES */

:root {
    --#{$abbr}-white: #{$elr-white};
    --#{$abbr}-dark: #{$elr-dark};

    --#{$abbr}-always-white: #{$elr-white};

    @each $color, $value in $elr-greys {
        --#{$abbr}-grey-#{$color}: #{$value};
    }

    @each $color, $value in $elr-amaranths {
        --#{$abbr}-amaranth-#{$color}: #{$value};
    }

    @each $color, $value in $elr-golds {
        --#{$abbr}-gold-#{$color}: #{$value};
    }

    @each $color, $value in $elr-steels {
        --#{$abbr}-steel-#{$color}: #{$value};
    }

    @each $color, $value in $elr-black-violets {
        --#{$abbr}-black-violet-#{$color}: #{$value};
    }

    @each $color, $value in $elr-greens {
        --#{$abbr}-green-#{$color}: #{$value};
    }

    @each $color, $value in $elr-oranges {
        --#{$abbr}-orange-#{$color}: #{$value};
    }

    @each $color, $value in $elr-yellows {
        --#{$abbr}-yellow-#{$color}: #{$value};
    }

    @each $color, $value in $elr-greys {
        --#{$abbr}-#{$color}: #{$value};
    }

    --#{$abbr}-aspect-ratio: #{$elr-aspect-ratio};

    @each $key, $value in $elr-aspect-ratios {
        --#{$abbr}-aspect-ratio-#{$key}: #{$value};
    }

    --#{$abbr}-object-fit: #{$elr-object-fit};

    @each $key, $value in $elr-object-fits {
        --#{$abbr}-object-fit-#{$key}: #{$value};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --#{$abbr}-white: #{$elr-dark};
        --#{$abbr}-dark: #{$elr-white};

        @each $color, $value in $elr-greys-dark {
            --#{$abbr}-grey-#{$color}: #{$value};
        }

        @each $color, $value in $elr-amaranths-dark {
            --#{$abbr}-amaranth-#{$color}: #{$value};
        }

        @each $color, $value in $elr-golds-dark {
            --#{$abbr}-gold-#{$color}: #{$value};
        }

        @each $color, $value in $elr-steels-dark {
            --#{$abbr}-steel-#{$color}: #{$value};
        }

        @each $color, $value in $elr-black-violets-dark {
            --#{$abbr}-black-violet-#{$color}: #{$value};
        }

        @each $color, $value in $elr-greens-dark {
            --#{$abbr}-green-#{$color}: #{$value};
        }

        @each $color, $value in $elr-oranges-dark {
            --#{$abbr}-orange-#{$color}: #{$value};
        }

        @each $color, $value in $elr-yellows-dark {
            --#{$abbr}-yellow-#{$color}: #{$value};
        }

        @each $color, $value in $elr-greys-dark {
            --#{$abbr}-#{$color}: #{$value};
        }
    }
}

body {
    &.--grey, .--grey {
        @each $color, $value in $elr-greys {
            --#{$abbr}-#{$color}: #{$value};
        }
    }

    &.--amaranth, .--amaranth {
        @each $color, $value in $elr-amaranths {
            --#{$abbr}-#{$color}: #{$value};
        }
    }

    &.--gold, .--gold {
        @each $color, $value in $elr-golds {
            --#{$abbr}-#{$color}: #{$value};
        }
    }

    &.--steel, .--steel {
        @each $color, $value in $elr-steels {
            --#{$abbr}-#{$color}: #{$value};
        }
    }

    &.--black-violet, .--black-violet {
        @each $color, $value in $elr-black-violets {
            --#{$abbr}-#{$color}: #{$value};
        }
    }

    &.--green, .--green {
        @each $color, $value in $elr-greens {
            --#{$abbr}-#{$color}: #{$value};
        }
    }

    &.--orange, .--orange {
        @each $color, $value in $elr-oranges {
            --#{$abbr}-#{$color}: #{$value};
        }
    }

    &.--yellow, .--yellow {
        @each $color, $value in $elr-yellows {
            --#{$abbr}-#{$color}: #{$value};
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        &.--grey, .--grey {
            @each $color, $value in $elr-greys-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }

        &.--amaranth, .--amaranth {
            @each $color, $value in $elr-amaranths-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }

        &.--gold, .--gold {
            @each $color, $value in $elr-golds-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }

        &.--steel, .--steel {
            @each $color, $value in $elr-steels-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }

        &.--black-violet, .--black-violet {
            @each $color, $value in $elr-black-violets-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }

        &.--green, .--green {
            @each $color, $value in $elr-greens-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }

        &.--orange, .--orange {
            @each $color, $value in $elr-oranges-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }

        &.--yellow, .--yellow {
            @each $color, $value in $elr-yellows-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }
    }
}
