$color-mode-type: media-query;

$headings-font-family: "IBM Plex Sans", sans-serif;

$font-family-sans-serif: "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$color-accent: #AD0040;
$color-accent-dark: #BD3366;

$body-bg-dark: #000000;