img,
.img,
video {
    max-width: 100%;
    border-radius: calc($elr-border-radius + 0.25rem);
}

.#{$abbr}-link {
    @include elr-link();
}

:root {
    --hb-color: #{$color-accent};

    @media (prefers-color-scheme: dark) {
        --hb-color: #{$color-accent-dark};
    }
}

body {
    // hyphens: auto;
    overflow-wrap: anywhere;
}

/* ._accent {
    color: var(--hb-color);
} */

.row {
    margin-bottom: 2rem;
}

.btn {
    // --bs-btn-padding-x: ;
    // --bs-btn-padding-y: ;
    --bs-btn-font-family: #{$elr-font-sans};
    // --bs-btn-font-size: ;
    --bs-btn-font-weight: 600;
    // --bs-btn-line-height: ;
    --bs-btn-color: var(--#{$abbr}-10);
    --bs-btn-bg: var(--#{$abbr}-60);
    // --bs-btn-border-width: ;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: #{$elr-border-radius};
    --bs-btn-hover-color: var(--#{$abbr}-10);
    --bs-btn-hover-bg: var(--#{$abbr}-50);
    --bs-btn-hover-border-color: transparent;

    --bs-btn-active-color: var(--#{$abbr}-10);
    --bs-btn-active-bg: var(--#{$abbr}-40);
    --bs-btn-active-border-color: transparent;

    // --bs-btn-border-color: var(--bd-violet);
    // --bs-btn-hover-color: var(--bs-white);
    // --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    // --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    // --bs-btn-active-color: var(--bs-btn-hover-color);
    // --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};

    text-transform: uppercase;
    letter-spacing: 0.2ch;

    &_link {
        @extend .btn-link;

        --bs-btn-color: #{$elr-dark};
        --bs-btn-bg: transparent;
        --bs-btn-hover-color: #{$elr-dark};
        --bs-btn-hover-bg: transparent;

        &:hover {
            text-decoration: none;
        }
    }
}

header,
section {
    margin-bottom: map-get($spacers, 5);
}

/* CORE PAGE LAYOUT */

/* yes header, navbar and hero are separated here even though they are all related inside the header. it is mostly to keep the classes short and flat. */
.#{$abbr}-header {
    $navbar: ".#{$abbr}-navbar";
    $hero: ".#{$abbr}-hero";

    &--no-navbar {
        #{$navbar} {
            display: none;
        }
    }

    &--no-hero {
        #{$hero} {
            display: none;
        }
    }

    &--bg-media {
        display: flex;
        flex-direction: column;
        height: $elr-header-height-full;
        color: var(--#{$abbr}-always-white);

        #{$navbar} {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: var(--#{$abbr}-white);
            z-index: 50;

            @include media-breakpoint-up(lg) {
                background-color: transparent;

                &__logo {
                    &--white-text {
                        display: block !important;
                    }

                    &--black-text {
                        display: none !important;
                    }
                }

                &__nav {
                    // --#{$prefix}navbar-color: #{shade-color(#ffffff, 10%)};
                    // --#{$prefix}navbar-hover-color: #{shade-color(#ffffff, 5%)};
                    // --#{$prefix}navbar-disabled-color: #{shade-color(#ffffff, 12%)};
                    // --#{$prefix}navbar-active-color: #{shade-color(#ffffff, 2%)};
                    --#{$prefix}navbar-color: #{$navbar-dark-color};
                    --#{$prefix}navbar-hover-color: #{$navbar-dark-hover-color};
                    --#{$prefix}navbar-disabled-color: #{$navbar-dark-disabled-color};
                    --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
                }
            }
        }

        #{$hero} {
            &__container {
                height: 100%;
                background-color: transparent;
            }

            &__col {
                z-index: 20;
                &--media {
                    position: absolute;
                    inset: 0;
                    z-index: 10;
                    width: 100%;
                    height: $elr-header-height-full;

                    &::before {
                        content: "";
                        background-image: $elr-header-media-tint;
                        position: absolute;
                        inset: 0;
                    }

                    > * {
                        display: none;
                        height: 100%;
                        width: 100%;
                        border-radius: 0;
                        object-fit: cover;
                    }

                    > :first-child {
                        display: block;
                    }

                    @include media-breakpoint-down(lg) {
                        // max-height: $elr-header-height-full;

                        &::before {
                            background-image: $elr-header-media-tint-mobile;
                        }
                    }
                }
            }
        }
    }

    &--only-text {
        #{$hero} {
            &__container {
                @extend .container;
                @extend .mx-auto;

                padding: 0 0.75rem;
            }

            &__col {
                &--content {
                    @extend .row;

                    flex-direction: row;
                    width: 100%;

                    > * {
                        @extend .col;
                    }
                }

                &--media {
                    display: none;
                }
            }

            &__supplement {
                @extend .ms-auto;

                max-width: 45ch;
            }
        }
    }

    &--blog {
        --#{$abbr}-header-height: #{$elr-header-height-medium};

        display: flex;
        flex-direction: column;
        // color: var(--#{$abbr}-always-white);

        // #{$navbar} {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     background-color: var(--#{$abbr}-white);
        //     z-index: 50;

        //     @include media-breakpoint-up(lg) {
        //         background-color: transparent;

        //         &__logo {
        //             &--white-text {
        //                 display: block !important;
        //             }

        //             &--black-text {
        //                 display: none !important;
        //             }
        //         }

        //         &__nav {
        //             // --#{$prefix}navbar-color: #{shade-color(#ffffff, 10%)};
        //             // --#{$prefix}navbar-hover-color: #{shade-color(#ffffff, 5%)};
        //             // --#{$prefix}navbar-disabled-color: #{shade-color(#ffffff, 12%)};
        //             // --#{$prefix}navbar-active-color: #{shade-color(#ffffff, 2%)};
        //             --#{$prefix}navbar-color: #{$navbar-dark-color};
        //             --#{$prefix}navbar-hover-color: #{$navbar-dark-hover-color};
        //             --#{$prefix}navbar-disabled-color: #{$navbar-dark-disabled-color};
        //             --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
        //         }
        //     }
        // }

        #{$hero} {
            background-color: transparent;

            &__container {
                min-height: var(--#{$abbr}-header-height);
                background-color: transparent;
                position: relative;
                margin-bottom: 5vh;
            }

            &__col {
                z-index: 20;

                &--content {
                    position: absolute;
                    right: 0;
                    bottom: -5vh;
                    width: 50vw;
                    background-color: var(--#{$abbr}-20);

                    $widths: (
                        xl: 70vw,
                        lg: 80vw,
                        md: 90vw,
                    );

                    @each $breakpoint, $width in $widths {
                        @include media-breakpoint-down($breakpoint) {
                            width: $width;
                        }
                    }
                }

                &--media {
                    position: absolute;
                    inset: 0;
                    z-index: 10;
                    width: 100%;

                    // &::before {
                    //     content: '';
                    //     background-image: $elr-header-media-tint;
                    //     position: absolute;
                    //     inset: 0;
                    // }

                    > * {
                        display: none;
                        height: 100%;
                        width: 100%;
                        border-radius: 0;
                        object-fit: cover;
                    }

                    > :first-child {
                        display: block;
                    }

                    @include media-breakpoint-down(lg) {
                        // max-height: $elr-header-height-full;

                        &::before {
                            background-image: $elr-header-media-tint-mobile;
                        }
                    }
                }
            }
        }
    }
}

.#{$abbr}-navbar {
    $block: &;

    @extend .navbar;
    @extend .navbar-expand-lg;

    &__container {
        @extend .container;
    }

    &__brand {
        @extend .navbar-brand;
        @include elr-link-reset();
    }

    &__logo {
        @include rfs(3rem, max-height);
        border-radius: 0;

        &--white-text {
            display: none !important;

            @media (prefers-color-scheme: dark) {
                display: block !important;
            }
        }

        &--black-text {
            display: block !important;

            @media (prefers-color-scheme: dark) {
                display: none !important;
            }
        }
    }

    &__toggler {
        @extend .navbar-toggler;
    }

    &__collapse {
        @extend .navbar-collapse;
    }

    &__nav {
        @extend .navbar-nav;
    }

    &__nav-item {
        @extend .nav-item;
    }

    &__nav-link {
        @extend .nav-link;
    }

    .dropdown {
        display: flex;
        flex-wrap: wrap;

        .dropdown {
            @include media-breakpoint-up(lg) {
                /* this property is crucial to make multi-layered dropdowns work on expanded navbars */
                flex-wrap: nowrap;
            }

            .dropdown-menu {
                margin: 1rem;
            }
        }

        @media (hover: hover) {
            @include media-breakpoint-up(lg) {
                &:hover {
                    & > .dropdown-menu {
                        /* only enables dropdown reveal on hover if navbar is expanded and on devices with precise hover input (eg. not ipads with cursor) */
                        // @extend .show;
                        display: block;
                        top: 100%;
                        left: 0;
                    }
                }
            }
        }
    }

    .dropdown-toggle {
        @extend .nav-link;

        padding-left: 0 !important;
        padding: 0;

        @include media-breakpoint-down(lg) {
            margin-left: auto;
            width: 12%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        &::after {
            display: none;
        }
    }

    .dropdown-menu {
        @include media-breakpoint-down(lg) {
            width: 100%;
        }

        margin-top: 0; /* remove gap for desktop "hover-to-open" feature */
    }

    .dropdown-item {
        width: auto;
    }
}

.#{$abbr}-hero {
    $block: &;

    @include make-container(0);

    height: 100%;
    background-color: var(--#{$abbr}-10);

    &__container {
        @extend .row;
        @extend .g-0;

        max-width: #{$elr-header-width-max};
        margin: 0 auto;
    }

    &__col {
        @extend .col-lg-6;

        &--content {
            display: flex;
            flex-direction: column;
            padding: map-get($spacers, 4);

            @extend .mb-3;
            @extend .mb-lg-0;
            // @extend .pe-lg-3;
        }

        &--media {
            display: flex;
            justify-content: end;

            // @include media-breakpoint-down(lg) {
            //     max-height: 50vh;
            // }

            > :first-child {
                width: 100%;
                max-height: 100%;
                aspect-ratio: var(--#{$abbr}-aspect-ratio);
                object-fit: var(--#{$abbr}-object-fit);
            }
        }
    }

    &__main {
        @extend .my-auto;

        & > * {
            margin-bottom: map-get($spacers, 2);
        }
    }

    &__title {
        @extend .display-title;
    }

    &__subtitle {
        @extend .display-4;
    }

    &__cta {
        // DEFINE CTA-Group
    }

    &__supplement {
        max-width: 45ch;
    }

    &__introtext {
        // placeholder for future styles
    }
}

.#{$abbr}-meta {
    $block: &;

    @include elr-layout-blog();

    margin-top: map-get($spacers, 5);

    &__container {
        &:first-child {
            #{$block}__col {
                padding-top: map-get($spacers, 3);

                &--main {
                    border-top: 1px solid #{default-color(20)};

                    .#{$abbr}-header & {
                        border-top: none;
                        padding-top: 0;
                    }
                }
            }
        }

        &:last-child {
            #{$block}__col {
                padding-bottom: map-get($spacers, 3);

                &--main {
                    border-bottom: 1px solid #{default-color(20)};

                    @include media-breakpoint-down(
                        $elr-layout-blog-breakpoint
                    ) {
                        margin-bottom: map-get($spacers, 3);
                    }
                }
            }
        }
    }

    &__col {
        & > * {
            margin-bottom: map-get($spacers, 2);
        }

        & > :last-child,
        & > * > :last-child {
            margin-bottom: 0;
        }

        &--side-start {
            order: 1;
        }

        &--main {
            display: flex;
            flex-direction: column;
            order: 2;
        }

        &--side-end {
            order: 3;
        }
    }

    &__media {
        max-width: 50vw;

        img {
            max-height: rfs-fluid-value(18rem);
            // aspect-ratio: 2/3;
            // height: 100%;
        }
    }

    &__info {
        margin-top: auto;
        display: flex;
        align-items: baseline;
    }

    &__author {
        img {
            width: 3.5rem;
            height: 3.5rem;
            object-fit: cover;
            border-radius: 100%;
            background-color: #{default-color(20)};
            margin-right: map-get($spacers, 3);
        }

        span {
            font-size: 1.3rem;
            vertical-align: middle;
        }
    }

    &__published {
        margin-left: auto;
        font-family: $elr-font-sans-condensed;
        font-weight: 200;

        span {
            vertical-align: middle;
        }
    }

    &__table {
        .#{$abbr}-table {
            @extend .table-borderless;
            @extend .table-sm;
        }

        th {
            width: 25%;
        }
    }
}

.#{$abbr}-footer {
    $block: &;

    // @extend .d-flex;
    // @extend .flex-column;
    @extend .p-4;
    @extend .mt-5;

    background-color: var(--#{$abbr}-10);

    &__container {
        @extend .row;
    }

    &__col {
        &--connect {
            @extend .col-lg-4;
        }

        &--culture {
            @extend .col-lg-5;
            @include font-size(0.8rem);
        }

        &--map {
            @extend .col-lg-3;
        }

        @include media-breakpoint-down(lg) {
            &--connect {
                order: 1;
            }

            &--culture {
                order: 3;
            }

            &--map {
                order: 2;
            }
        }
    }

    small {
        text-transform: uppercase;
        font-weight: 300;
        font-family: $elr-font-sans-condensed;
        letter-spacing: 0.1em;
        font-size: 1rem;
    }

    &__contact {
        border-left: 0.125rem solid var(--#{$abbr}-50);
        padding-left: 0.5rem;
    }

    &__email {
        color: var(--#{$abbr}-70);
    }

    &__social {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;

        a {
            @include elr-link-reset();

            text-decoration: none;
            margin-right: 0.5em;
            color: var(--#{$prefix}font-color);
            color: var(--#{$abbr}-50);

            &:hover {
                color: var(--#{$abbr}-40);
            }
        }
    }

    &__locations {
        font-family: $elr-font-sans-condensed;

        @include media-breakpoint-down(lg) {
            text-align: right;
        }
    }

    &__map {
        max-width: 30rem;
        width: 60%;

        &--white {
            display: none !important;

            @media (prefers-color-scheme: dark) {
                display: block !important;
            }
        }

        &--black {
            @media (prefers-color-scheme: dark) {
                display: none !important;
            }
        }
    }

    &__country {
        font-weight: 500;
    }

    &__legal {
        ul {
            @extend .p-0;
            @extend .mb-0;

            li {
                @extend .me-1;

                display: inline-block;

                &:last-child {
                    @extend .me-0;
                }
            }
        }
    }
}

/* PAGE LAYOUTS */

/* of course there is a regular layout. there is just no extra class for it */

// .#{$abbr}-layout-card {
//     $block: &;

//     @extend .container;

//     &__container {
//         @include make-row();
//     }

//     &__col {
//         @include make-col-ready();
//         @include make-col(12);
//     }
// }

/* LAYOUT ELEMENTS */

.#{$abbr}-grid {
    $block: &;

    @extend .container;

    &__container {
        @include make-row(1rem);

        & > * {
            // intruduces weird css sepcifity issues when using `@extend .row-cols-1`
            @include make-col-ready();
            // @extend .col;
        }

        &--row-cols-1 {
            @include row-cols(1);
        }

        &--row-cols-2 {
            @include media-breakpoint-up(md) {
                @include row-cols(1);
            }

            @include media-breakpoint-up(xl) {
                @include row-cols(2);
            }
            // @extend .row-cols-xl-2;
            // @extend .row-cols-md-1;
        }

        &--row-cols-3 {
            @include media-breakpoint-up(xs) {
                @include row-cols(1);
            }

            @include media-breakpoint-up(lg) {
                @include row-cols(2);
            }

            @include media-breakpoint-up(xl) {
                @include row-cols(3);
            }
            // @extend .row-cols-xl-3;
            // @extend .row-cols-lg-2;
            // @extend .row-cols-1;
        }

        &--row-cols-4 {
            @include media-breakpoint-up(xs) {
                @include row-cols(1);
            }

            @include media-breakpoint-up(md) {
                @include row-cols(2);
            }

            @include media-breakpoint-up(lg) {
                @include row-cols(3);
            }

            @include media-breakpoint-up(xl) {
                @include row-cols(4);
            }
            // @extend .row-cols-xl-4;
            // @extend .row-cols-lg-3;
            // @extend .row-cols-md-2;
            // @extend .row-cols-1;
        }

        &--row-cols-5 {
            @include media-breakpoint-up(sm) {
                @include row-cols(2);
            }

            @include media-breakpoint-up(lg) {
                @include row-cols(3);
            }

            @include media-breakpoint-up(xxl) {
                @include row-cols(5);
            }
        }

        &--row-cols-6 {
            @include media-breakpoint-up(xs) {
                @include row-cols(2);
            }

            @include media-breakpoint-up(md) {
                @include row-cols(3);
            }

            @include media-breakpoint-up(lg) {
                @include row-cols(4);
            }

            @include media-breakpoint-up(xxl) {
                @include row-cols(6);
            }
        }

        &--condensed {
            @include media-breakpoint-up(xs) {
                @include row-cols(2);
            }

            @include media-breakpoint-up(md) {
                @include row-cols(3);
            }

            @include media-breakpoint-up(xl) {
                @include row-cols(4);
            }

            .#{$abbr}-card {
                &__container {
                    @include media-breakpoint-down(md) {
                        --#{$prefix}card-spacer-y: 0.5rem !important;
                        --#{$prefix}card-spacer-x: 0.5rem !important;

                    }
                }

                &__body > :last-child {
                    margin-bottom: 0;
                }
            }
            // @extend .row-cols-xl-4;
            // @extend .row-cols-md-3;
            // @extend .row-cols-2;
        }

        &--featured {
            @include media-breakpoint-up(md) {
                > :nth-child(-n + 2) {
                    width: 50%;
                }
            }

            @include media-breakpoint-up(lg) {
                > :nth-child(n + 3):nth-child(-n + 8) {
                    width: 33.33333333333333%;
                }
            }
        }

        &--blog-style {
            & > * {
                @include make-col(12);

                @include media-breakpoint-up($elr-layout-blog-breakpoint) {
                    @include make-col(3);

                    &:nth-child(3n-1) {
                        @include make-col(6);
                    }
                }
            }
        }
    }

    &__cta {
    }
}

.#{$abbr}-feature-box {
    $block: &;

    @extend .container;

    &__container {
        @extend .row;
        @extend .g-0;

        --#{$abbr}-accordion-display-bg: transparent;

        /* for bootstrap accordion */
        --#{$abbr}-accordion-border-width: 4px;
        --#{$abbr}-accordion-border-style: none;

        background-color: var(--#{$abbr}-accordion-display-bg);
        border-radius: $elr-border-radius;
    }

    &__col {
        &--desc {
            @extend .col-md-4;
            @extend .px-3;
        }

        &--content {
            @extend .col-md-8;

            border-color: var(--#{$abbr}-80);
            border-width: var(--#{$abbr}-accordion-border-width);
            border-style: var(--#{$abbr}-accordion-border-style);
        }
    }

    &--reverse {
        #{$block} {
            &__container {
                @extend .flex-row-reverse;
            }
        }
    }

    &--important {
        #{$block} {
            &__container {
                --#{$abbr}-accordion-display-bg: var(--#{$abbr}-10);
            }

            &__col {
                &--desc {
                    padding: calc(
                        map-get($spacers, 3) +
                            var(--#{$abbr}-accordion-border-width)
                    ) !important;
                }

                &--content {
                    --#{$abbr}-accordion-border-style: solid;
                }
            }
        }
    }
}

/* NESTABLE PAGE ELEMENTS */

.#{$abbr}-text {
    $block: &;
}

.#{$abbr}-figure {
    $block: &;

    display: flex;
    justify-content: center;

    &__container {
        @extend .m-0;

        img,
        video {
            max-height: 30rem;
        }
    }

    &__caption {
        font-family: $elr-font-sans;
        color: var(--#{$abbr}-grey-70);
        max-width: 70%;
        margin: 0.4rem 0 0 0;
    }

    &--start {
        justify-content: start;
    }

    &--end {
        justify-content: end;
    }
}

.#{$abbr}-card {
    $block: &;

    margin-bottom: 1rem;

    &__container {
        @extend .card;

        --#{$prefix}card-bg: #{default-color(10)};
        --#{$prefix}card-border-width: 0;

        @include elr-link-reset($only-text: true);

        transition-duration: 0.3s;
        animation-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
        animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
        transition-property: padding, border-color, background-color;

        height: 100%;

        // border: transparent 0.25rem solid;
        padding: 0;
    }

    &__media {
        // padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        padding-bottom: 0;
        width: 100%;

        & > * {
            aspect-ratio: var(--#{$abbr}-aspect-ratio);
            object-fit: var(--#{$abbr}-object-fit);
            width: 100%; // need to fix the size of one dimension (firefox doesn't respect the aspect-ratio: property otherwise)
        }

        & > [src=""] {
            display: none;
        }
    }

    &__body {
        @extend .card-body;

        display: flex;
        flex-direction: column;
    }

    &__title {
        @extend .card-title;
    }

    &__subtitle {
        @extend .card-subtitle;

        font-weight: 400;
        font-family: #{$elr-font-sans-condensed};
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 0.3em;

        > * {
            display: flex;
        }

        div + div::before {
            content: "\002022";
            padding: 0 0.25em;
            color: var(--#{$prefix}card-subtitle-color);
        }
    }

    &__icon::before {
        padding-right: 0.25em;
    }

    &__text {
        @extend .card-text;

        font-family: var(--#{$prefix}body-font-family);
        font-weight: var(--#{$prefix}body-font-weight);
        font-size: var(--#{$prefix}body-font-size);
        // display: -webkit-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 7;
        // overflow: hidden;

        & > :last-child {
            margin-bottom: 0;
        }
    }

    // TODO remove if visual indication for hyperlink is accomplished someway else (eg. icon/symbol)
    &__link-indicator {
        // @extend .link-primary;
        @include elr-link();

        display: none;
        margin-top: auto;
        margin-right: auto;
    }

    &--link {
        #{$block} {
            &__container {
                cursor: pointer;

                &:hover,
                &:active {
                    // border: var(--#{$abbr}-40) 0.25rem solid;
                    background-color: #{default-color(20)};
                }
            }

            &__link-indicator {
                display: inline-block;
            }
        }
    }

    &--bg-media {
        #{$block} {
            &__container {
                --#{$prefix}card-color: var(--#{$abbr}-always-white);

                background-color: #{default-color(10)};
                min-height: 16rem;
            }

            &__media {
                padding: 0;
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &::before {
                    content: "";
                    // background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
                    background-image: linear-gradient(
                        to right,
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.5)
                    );
                    position: absolute;
                    inset: 0;
                }

                &:has([src=""]) {
                    display: block;
                }
            }

            &__body {
                z-index: 2;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }

            &__title {
                @extend .h4;
            }
        }
    }
}

.#{$abbr}-accordion {
    $block: &;

    @extend .accordion;
    @extend .accordion-flush;

    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: #{$elr-border-radius};
    --bs-accordion-border-color: transparent;
    --bs-accordion-inner-border-radius: calc(
        var(--bs-accordion-border-radius) - var(
                --#{$abbr}-accordion-border-width
            )
    );
    --bs-accordion-btn-padding-x: #{map-get($spacers, 3)};
    --bs-accordion-bg: var(--#{$abbr}-10);
    --bs-accordion-active-bg: var(--#{$abbr}-20);
    --bs-accordion-active-color: var(--#{$abbr}-80);

    border-radius: var(--bs-accordion-border-radius);

    &__item {
        @extend .accordion-item;
    }

    &__header {
        @extend .accordion-header;
    }

    &__button {
        @extend .accordion-button;

        font-weight: 600;
    }

    &__collapse {
        @extend .accordion-collapse;
    }

    &__body {
        @extend .accordion-body;

        p:last-child {
            margin-bottom: 0;
        }
    }
}

// .hbc-card {

//     .hbc-grid ._team &, .hbc-grid ._company-cards & {
//         .__img {
//             img {
//                 aspect-ratio: 1/1;
//                 background-color: var(--#{$abbr}-20);
//             }
//         }

//         .__subtitle {
//             margin-bottom: 0;
//         }

//         .__text {
//             display: none;
//         }

//         .__link-indicator {
//             display: none;
//         }
//     }

//     .hbc-grid ._company-cards & {
//         // @extend ._bg-img;
//     }

//     .hbc-grid ._blog & {
//         .__text {
//             margin-bottom: 0;
//         }

//         // .__link-indicator {
//         //     display: none;
//         // }
//     }
// }

/* STANDALONE PAGE ELEMENTS */

.#{$abbr}-statement {
    $block: &;

    @extend .container;
    @extend .flex-column;
    @extend .flex-md-row;
    @extend .row;
    @extend .mx-auto;

    &__col {
        &--heading {
            @extend .col-md-6;
        }

        &--text {
            @extend .col-sm-8;
            @extend .col-md-6;
            @extend .col-lg-4;
            @extend .ms-auto;
        }
    }

    &--reverse {
        @extend .flex-md-row-reverse;

        #{$block} {
            &__col {
                &--text {
                    @extend .ms-0;
                    @extend .me-auto;
                }
            }
        }
    }

    &--center {
        @extend .flex-md-column;
        @extend .align-items-center;

        #{$block} {
            &__col {
                @extend .col-sm-12;
                @extend .col-md-10;
                @extend .col-lg-8;

                &--text {
                    @extend .m-0;
                }
            }
        }
    }

    &--halfed {
        #{$block} {
            &__col {
                &--text {
                    @extend .col-lg-6;
                }
            }
        }
    }

    &--only-heading {
        #{$block} {
            &__col {
                &--heading {
                    @extend .col-sm-10;
                    @extend .col-xl-8;
                }

                &--text {
                    @extend .d-none;
                }
            }
        }
    }

    &--only-text {
        #{$block} {
            &__col {
                &--heading {
                    @extend .d-none;
                }

                &--text {
                    @extend .col-sm-10;
                    @extend .col-xl-8;
                }
            }
        }
    }
}

.#{$abbr}-display-list {
    $block: &;

    @extend .container;

    &__item {
        @extend .row;
        @extend .mb-0;
        @extend .py-3;
        @extend .align-content-start;
    }

    &__col {
        @extend .col-md;

        &--content {
            @extend .px-3;
        }

        &--media {
            img,
            video {
                aspect-ratio: var(--#{$abbr}-aspect-ratio);
                display: block;
                object-fit: var(--#{$abbr}-object-fit);
                width: 100%;
            }
        }
    }

    &--alternating {
        #{$block} {
            &__item:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    &--reverse {
        #{$block} {
            &__item {
                flex-direction: row-reverse;
            }
        }
    }

    &--reverse#{$block}--alternating {
        #{$block} {
            &__item {
                &:nth-child(even) {
                    flex-direction: row;
                }

                &:nth-child(odd) {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}

.#{$abbr}-cta {
    $block: &;

    @extend .container;

    &__container {
        @include make-row(0);
        @include row-cols(1);

        flex-direction: column-reverse;
        background-color: var(--#{$abbr}-10);

        @include media-breakpoint-up(sm) {
            @include row-cols(2);

            flex-direction: row;
        }
    }

    &__col {
        padding: map-get($spacers, 4);

        @include media-breakpoint-down(sm) {
            & + & {
                padding-top: 0;
            }
        }

        &--content {
            & > * {
                margin-bottom: map-get($spacers, 2);
            }
        }

        &--media {
            img,
            video {
                aspect-ratio: var(--#{$abbr}-aspect-ratio);
                object-fit: var(--#{$abbr}-object-fit);
                width: 100%;
            }
        }
    }
}

.#{$abbr}-blog-text {
    $block: &;

    @include elr-layout-blog();

    font-family: #{$elr-font-serif};
}

/* MISC ELEMENTS */

/* has to stay with this name and not BEM because of the nessecary javascript from bootstrap */
.modal {
    padding: map-get($spacers, 2);

    .modal-dialog {
        @extend .modal-xl;
        @extend .modal-dialog-scrollable;
        @extend .modal-dialog-centered;
        // @extend .container;
    }

    .modal-header {
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            display: none;
        }

        .btn-close {
            margin: calc(0.25 * var(--bs-modal-header-padding-y))
                calc(0.25 * var(--bs-modal-header-padding-x));
            padding: calc(0.25 * var(--bs-modal-header-padding-y))
                calc(0.25 * var(--bs-modal-header-padding-x));
        }
    }

    .modal-body {
        @extend .row;
        @extend .gx-4;
        @extend .gy-0;

        margin-bottom: 0;
        padding: map-get($spacers, 4);
    }

    .modal-footer {
        @extend .d-md-none;

        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .modal-title {
        margin: 0 auto 0 0;
    }

    .modal-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: map-get($spacers, 2);

        @each $color, $value in $elr-greys {
            --#{$abbr}-#{$color}: #{$value};
        }

        @media (prefers-color-scheme: dark) {
            @each $color, $value in $elr-greys-dark {
                --#{$abbr}-#{$color}: #{$value};
            }
        }
    }

    &._team-member {
        img {
            background-color: var(--#{$abbr}-10);
        }

        .modal-body-data {
            @extend .col-md-4;

            .__img {
                padding: 0;
            }

            & > * {
                margin-bottom: 1rem;
            }

            & > p {
                margin-bottom: 0.5rem;
            }

            & > :last-child {
                margin-bottom: 0;
            }
        }

        .modal-body-text {
            @extend .col-md-8;
        }
    }
}

.#{$abbr}-pill-group {
    $block: &;

    font-family: $elr-font-sans-condensed;

    &__title {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.05em;
        font-size: 1rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        padding: map-get($spacers, 1) map-get($spacers, 2);
        background-color: #{default-color(10)};
        margin-right: map-get($spacers, 2);
        margin-bottom: map-get($spacers, 2);
        display: inline-block;
        color: #{default-color(80)};

        &--link {
            @include elr-link-reset($only-text: true);
            &:hover,
            &:active {
                background-color: #{default-color(20)};
            }
        }
    }
}

.#{$abbr}-table {
    @extend .table;
}

/* GLOBAL MODIFIERS */

.#{$abbr}--section-spacer-bottom {
    $block: &;

    @each $key, $value in $elr-section-gaps {
        &-#{$key} {
            margin-bottom: #{$value};
        }
    }
}

.#{$abbr}--aspect-ratio {
    $block: &;

    @each $key, $value in $elr-aspect-ratios {
        &-#{$key} {
            --#{$abbr}-aspect-ratio: #{$value};
        }
    }
}

.#{$abbr}--object-fit {
    $block: &;

    @each $key, $value in $elr-object-fits {
        &-#{$key} {
            --#{$abbr}-object-fit: #{$value};
        }
    }
}
