// STYLE MIXINS

@function default-color($value, $color: "grey") {
    $color-string: "var(--#{$abbr}-" + #{$value} + ", var(--#{$abbr}-" + #{$color} + "-" + #{$value} + "))";
    @return $color-string;
}

@mixin elr-link-reset($only-text: false) {
    text-decoration: none;
    color: inherit;
    @if not $only-text {
        background-color: inherit;
    }

    &:hover, &:active {
        text-decoration: none;
        color: inherit;
        @if not $only-text {
            background-color: inherit;
        }
    }

    // &:visited {
    //     color: inherit;
    // }
}

@mixin elr-link() {
    text-decoration: underline;
    color: var(--#{$abbr}-80);
    text-decoration-color: var(--#{$abbr}-90);
    padding: 0 .125em;

    &:hover, &:active {
        color: var(--#{$abbr}-60);
        text-decoration-color: var(--#{$abbr}-60);
    }
}

@mixin elr-subtitle() {
    font-weight: 400;
    font-family: #{$elr-font-sans-condensed};
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.3em;
}


// LAYOUT MIXINS

@mixin elr-layout-blog() {
    @include make-container();

    @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint) {
            max-width: $container-max-width;
        }
    }

    &__container {
        @include make-row();

        flex-direction: column;

        @include media-breakpoint-up($elr-layout-blog-breakpoint) {
            flex-direction: row;
        }
    }

    &__col {
        @include make-col-ready();
        @include make-col();

        &--side-start {
            order: 1;

            @include media-breakpoint-up($elr-layout-blog-breakpoint) {
                order: 1;
                text-align: right;
            }
        }

        &--main {
            order: 3;

            @include media-breakpoint-up($elr-layout-blog-breakpoint) {
                @include make-col(6);
                order: 2;
            }
        }

        &--side-end {
            order: 2;

            @include media-breakpoint-up($elr-layout-blog-breakpoint) {
                order: 3;
            }
        }
    }
}
