<div class="{{ euler.abbr }}-accordion" id="{{ elrAccordionId }}">
    <div class="{{ euler.abbr }}-accordion__item">
        <h2 class="{{ euler.abbr }}-accordion__header" id="headingOne">
            <button class="{{ euler.abbr }}-accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What kind of cybersecurity services do you provide?
            </button>
        </h2>
        <div id="collapseOne" class="{{ euler.abbr }}-accordion__collapse collapse" aria-labelledby="headingOne" data-bs-parent="#{{ elrAccordionId }}">
            <div class="{{ euler.abbr }}-accordion__body">
                We provide a range of cybersecurity services, including network security, data protection, threat intelligence, vulnerability management, cloud security, application security, compliance, and incident response.
            </div>
        </div>
    </div>
    <div class="{{ euler.abbr }}-accordion__item">
        <h2 class="{{ euler.abbr }}-accordion__header" id="headingTwo">
            <button class="{{ euler.abbr }}-accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What industries do you serve?
            </button>
        </h2>
        <div id="collapseTwo" class="{{ euler.abbr }}-accordion__collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#{{ elrAccordionId }}">
            <div class="{{ euler.abbr }}-accordion__body">
                We serve a wide range of industries, including finance &amp; Investment, government, education, retail, healthcare, and more. We also provide a very strong support to tech startups of any industry.
            </div>
        </div>
    </div>
    <div class="{{ euler.abbr }}-accordion__item">
        <h2 class="{{ euler.abbr }}-accordion__header" id="headingThree">
            <button class="{{ euler.abbr }}-accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Do you provide training for employees to help prevent cyber attacks?
            </button>
        </h2>
        <div id="collapseThree" class="{{ euler.abbr }}-accordion__collapse collapse" aria-labelledby="headingThree" data-bs-parent="#{{ elrAccordionId }}">
            <div class="{{ euler.abbr }}-accordion__body">
                Yes, we offer cybersecurity awareness and training programs to help educate employees on best practices for avoiding common cyber threats. Strengthening the awareness of employees while reducing the risk of human error.
            </div>
        </div>
    </div>
    <div class="{{ euler.abbr }}-accordion__item">
        <h2 class="{{ euler.abbr }}-accordion__header" id="headingFour">
            <button class="{{ euler.abbr }}-accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can you help us become compliant with regulations like HIPAA, PCI-DSS, or GDPR?
            </button>
        </h2>
        <div id="collapseFour" class="{{ euler.abbr }}-accordion__collapse collapse" aria-labelledby="headingFour" data-bs-parent="#{{ elrAccordionId }}">
            <div class="{{ euler.abbr }}-accordion__body">
                Yes, we have the right experts with the right experience and certifications to help organizations become compliant with various regulations and can provide the necessary guidance and support to achieve the required compliance level.
            </div>
        </div>
    </div>
    <div class="{{ euler.abbr }}-accordion__item">
        <h2 class="{{ euler.abbr }}-accordion__header" id="headingFive">
            <button class="{{ euler.abbr }}-accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What should I do if I suspect a security breach?
            </button>
        </h2>
        <div id="collapseFive" class="{{ euler.abbr }}-accordion__collapse collapse" aria-labelledby="headingFive" data-bs-parent="#{{ elrAccordionId }}">
            <div class="{{ euler.abbr }}-accordion__body">
                If you suspect a security breach, contact us immediately so we can investigate and take appropriate action to mitigate the damage and prevent further attacks.
            </div>
        </div>
    </div>
    <div class="{{ euler.abbr }}-accordion__item">
        <h2 class="{{ euler.abbr }}-accordion__header" id="headingSix">
            <button class="{{ euler.abbr }}-accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                What is your company culture like?
            </button>
        </h2>
        <div id="collapseSix" class="{{ euler.abbr }}-accordion__collapse collapse" aria-labelledby="headingSix" data-bs-parent="#{{ elrAccordionId }}">
            <div class="{{ euler.abbr }}-accordion__body">
                Our company culture is built on a foundation of teamwork, integrity, and innovation. We believe in fostering a collaborative and supportive environment that encourages creativity, professional development, and a passion for excellence.
            </div>
        </div>
    </div>
</div>