<section class="{{ euler.abbr }}-blog-text">
    <div class="{{ euler.abbr }}-blog-text__container">
        <div class="{{ euler.abbr }}-blog-text__col {{ euler.abbr }}-blog-text__col--side-start">
            <p>start col</p>
        </div>
        <div class="{{ euler.abbr }}-blog-text__col {{ euler.abbr }}-blog-text__col--main">
            {{ elrBlogTextContent | safe }}
        </div>
        <div class="{{ euler.abbr }}-blog-text__col {{ euler.abbr }}-blog-text__col--side-end">
            <p>end col</p>
        </div>
    </div>
</section>