<section class="{{ euler.abbr }}-feature-box {{ elrFeatureBoxModifier }}">
    <div class="{{ euler.abbr }}-feature-box__container">
        <div class="{{ euler.abbr }}-feature-box__col {{ euler.abbr }}-feature-box__col--desc">
            <h3>FAQ</h3>
            <p>
                Here are some of our most asked questions. If yours is not there, <a href="" data-bs-toggle="modal" data-bs-target="#eMailModal">contact us</a>.
            </p>
        </div>
        <div class="{{ euler.abbr }}-feature-box__col {{ euler.abbr }}-feature-box__col--content">
            {{ elrFeatureBoxContent | safe }}
        </div>
    </div>
</section>