<div class="{{ euler.abbr }}-text">
    <div class="{{ euler.abbr }}-text__container">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere explicabo molestiae officiis, dolor sequi reiciendis eveniet autem at modi quaerat necessitatibus consequatur nam odit ut voluptatum ex accusamus, voluptas sint?
    </div>
</div>