<div class="{{ euler.abbr }}-card {{ elrCardModifier }}">
    <a class="{{ euler.abbr }}-card__container" href="{{ elrCardLink }}">
        <div class="{{ euler.abbr }}-card__media">
            <img src="{{ elrCardImg }}" alt="">
            <img src="assets/themes/euler/brand/euler-logo-black.png" alt="" class="elr-card__logo">
        </div>
        <div class="{{ euler.abbr }}-card__body">
            <h3 class="{{ euler.abbr }}-card__title">{{ elrCardTitle }}</h3>
            <div class="{{ euler.abbr }}-card__subtitle">
                {{ elrCardSubtitle | safe }}
            </div>
            <div class="{{ euler.abbr }}-card__text">
                {{ elrCardText | safe }}
            </div>
            <div class="{{ euler.abbr }}-card__link-indicator">
                Learn More
            </div>
        </div>
    </a>
</div>
