<section class="{{ euler.abbr }}-cta">
    <div class="{{ euler.abbr }}-cta__container">
        <div class="{{ euler.abbr }}-cta__col {{ euler.abbr }}-cta__col--content">
            <div class="{{ euler.abbr }}-cta__text">
                <h2>The minds behind the magic</h2>
                euler is an independent company with a deep passion for technology. We honor our knowledge by using it
                to impact the digital space together with our partners.
            </div>
            <div class="{{ euler.abbr }}-cta__btn-group">
                <button type="button" class="btn">Contact Us</button>
            </div>
        </div>
        <div class="{{ euler.abbr }}-cta__col {{ euler.abbr }}-cta__col--media">
            <img src="{{ euler.assetsDir }}brand/open-graph.png" alt="">
        </div>
    </div>
</section>