<section class="{{ euler.abbr }}-grid {{ elrGridModifier }}">
    <div class="{{ euler.abbr }}-grid__container">
        {{ elrGridContent | safe }}
    </div>
    <div class="{{ euler.abbr }}-grid__cta">
        <a href="" class="btn">Read More</a>
    </div>
</section>
