<section class="{{ euler.abbr }}-statement {{ elrStatementModifier }}">
    <div class="{{ euler.abbr }}-statement__col {{ euler.abbr }}-statement__col--heading">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
    </div>
    <div class="{{ euler.abbr }}-statement__col {{ euler.abbr }}-statement__col--text">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ducimus. Quam qui eos velit, itaque ipsam omnis sint veritatis nisi dolore illo exercitationem dolores necessitatibus laborum tempore nostrum veniam delectus?
        </div>
    </div>
</section>