<div class="{{ euler.abbr }}-figure {{ elrFigureModifiers }}">
    <figure class="{{ euler.abbr }}-figure__container">
        <img srcset="" sizes="(min-width: 1400px) 1320px, 100vw" src="{{ elrFigureUrl }}" alt="{{ elrFigureAlt }}">
        <figcaption class="{{ euler.abbr }}-figure__caption">
            {{ elrFigureCaption }}
        </figcaption>
    </figure>
</div>
