<section class="{{ euler.abbr }}-grid">
    <div class="{{ euler.abbr }}-grid__container {{ euler.abbr }}-grid__container--condensed _team">
        <div class="{{ euler.abbr }}-card {{ elrCardModifier }}">
            <a class="{{ euler.abbr }}-card__container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="{{ euler.abbr }}-card__img">
                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                </div>
                <div class="{{ euler.abbr }}-card__body">
                    <h3 class="{{ euler.abbr }}-card__title">Felix Dimmerling</h3>
                    <div class="{{ euler.abbr }}-card__subtitle">
                        Developer
                    </div>
                    <div class="{{ euler.abbr }}-card__text">
                        {{ elrCardText | safe }}
                    </div>
                    <div class="{{ euler.abbr }}-card__link-indicator">
                        Learn More
                    </div>
                </div>
            </a>
            <!-- <div class="modal _team-member fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-body-data">
                                <div class="__img">
                                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                                </div>
                                <p class="__title h2">Felix Dimmerling</p>
                                <p class="__subtitle h5">Developer</p>
                                <div class="hbc-social">
                                    <a href="{{ linkedinURL }}">
                                        <span class="bi-linkedin"></span>
                                    </a>
                                </div>
                                <button class="btn">Contact</button>
                            </div>
                            <div class="modal-body-text">
                                <nav class="d-flex">
                                    <span class="h5">About</span>
                                    <button type="button" class="btn-close d-none d-md-block ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                </nav>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, consequatur. At porro odio, eum magnam quo voluptas eveniet quos? Voluptas commodi eveniet voluptate deserunt quas excepturi numquam officia dolor minima?
                                Quasi veniam fugiat expedita nam eveniet iure non ab quo a, temporibus, ullam, maiores provident quibusdam dolorum optio maxime consectetur alias dignissimos sequi laborum sit sint. Illo odit iure id.
                                Optio, sapiente laboriosam! Voluptate iure esse obcaecati quae, illum blanditiis architecto laboriosam. Minima quae illo debitis. Aut officiis rerum facilis eligendi, architecto voluptates nam fuga molestias nulla sequi, cupiditate quo.
                                Veritatis repellat vero, nobis, eius omnis eum soluta non, velit cupiditate mollitia fugit dolores? Dolore alias totam a, facilis ipsa aperiam, dignissimos iusto ex veritatis minima culpa eaque harum fugiat.
                                Dolorum incidunt dignissimos adipisci aperiam ipsam voluptates dolore sunt consectetur aliquam eum ipsum pariatur necessitatibus perferendis, nulla recusandae fugiat alias rem qui, eligendi assumenda! Nisi sed deserunt vel placeat molestias!</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <h5 class="modal-title">Felix</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-controls">
                                <a href="value-card/" class="btn">Fullscreen</a>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <h4 class="modal-title">Modal Title</h4>
                        </div>
                        <div class="modal-body">
                            {% set elrHeaderModifier %}{{ euler.abbr }}-header--blog {{ euler.abbr }}-header--no-navbar{% endset %}
                            {% include "partials/header.njk" %}
                            <h3>About</h3>
                            <div>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, consequatur. At porro odio, eum magnam quo voluptas eveniet quos? Voluptas commodi eveniet voluptate deserunt quas excepturi numquam officia dolor minima?
                                Quasi veniam fugiat expedita nam eveniet iure non ab quo a, temporibus, ullam, maiores provident quibusdam dolorum optio maxime consectetur alias dignissimos sequi laborum sit sint. Illo odit iure id.
                                Optio, sapiente laboriosam! Voluptate iure esse obcaecati quae, illum blanditiis architecto laboriosam. Minima quae illo debitis. Aut officiis rerum facilis eligendi, architecto voluptates nam fuga molestias nulla sequi, cupiditate quo.
                                Veritatis repellat vero, nobis, eius omnis eum soluta non, velit cupiditate mollitia fugit dolores? Dolore alias totam a, facilis ipsa aperiam, dignissimos iusto ex veritatis minima culpa eaque harum fugiat.
                                Dolorum incidunt dignissimos adipisci aperiam ipsam voluptates dolore sunt consectetur aliquam eum ipsum pariatur necessitatibus perferendis, nulla recusandae fugiat alias rem qui, eligendi assumenda! Nisi sed deserunt vel placeat molestias!</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <h4 class="modal-title">Modal Title</h4>
                            <div class="modal-controls">
                                <a href="value-card/" class="btn">Fullscreen</a>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="{{ euler.abbr }}-card {{ elrCardModifier }}">
            <a class="{{ euler.abbr }}-card__container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="{{ euler.abbr }}-card__img">
                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                </div>
                <div class="{{ euler.abbr }}-card__body">
                    <h3 class="{{ euler.abbr }}-card__title">Felix Dimmerling</h3>
                    <div class="{{ euler.abbr }}-card__subtitle">
                        Developer
                    </div>
                    <div class="{{ euler.abbr }}-card__text">
                        {{ elrCardText | safe }}
                    </div>
                    <div class="{{ euler.abbr }}-card__link-indicator">
                        Learn More
                    </div>
                </div>
            </a>
            <div class="modal _team-member fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-body-data">
                                <div class="__img">
                                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                                </div>
                                <p class="__title h2">Felix Dimmerling</p>
                                <p class="__subtitle h5">Developer</p>
                                <div class="hbc-social">
                                    <a href="{{ linkedinURL }}">
                                        <span class="bi-linkedin"></span>
                                    </a>
                                </div>
                                <button class="btn">Contact</button>
                            </div>
                            <div class="modal-body-text">
                                <nav class="d-flex">
                                    <span class="h5">About</span>
                                    <button type="button" class="btn-close d-none d-md-block ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                </nav>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, consequatur. At porro odio, eum magnam quo voluptas eveniet quos? Voluptas commodi eveniet voluptate deserunt quas excepturi numquam officia dolor minima?
                                Quasi veniam fugiat expedita nam eveniet iure non ab quo a, temporibus, ullam, maiores provident quibusdam dolorum optio maxime consectetur alias dignissimos sequi laborum sit sint. Illo odit iure id.
                                Optio, sapiente laboriosam! Voluptate iure esse obcaecati quae, illum blanditiis architecto laboriosam. Minima quae illo debitis. Aut officiis rerum facilis eligendi, architecto voluptates nam fuga molestias nulla sequi, cupiditate quo.
                                Veritatis repellat vero, nobis, eius omnis eum soluta non, velit cupiditate mollitia fugit dolores? Dolore alias totam a, facilis ipsa aperiam, dignissimos iusto ex veritatis minima culpa eaque harum fugiat.
                                Dolorum incidunt dignissimos adipisci aperiam ipsam voluptates dolore sunt consectetur aliquam eum ipsum pariatur necessitatibus perferendis, nulla recusandae fugiat alias rem qui, eligendi assumenda! Nisi sed deserunt vel placeat molestias!</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <h5 class="modal-title">Felix</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="{{ euler.abbr }}-card {{ elrCardModifier }}">
            <a class="{{ euler.abbr }}-card__container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="{{ euler.abbr }}-card__img">
                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                </div>
                <div class="{{ euler.abbr }}-card__body">
                    <h3 class="{{ euler.abbr }}-card__title">Felix Dimmerling</h3>
                    <div class="{{ euler.abbr }}-card__subtitle">
                        Developer
                    </div>
                    <div class="{{ euler.abbr }}-card__text">
                        {{ elrCardText | safe }}
                    </div>
                    <div class="{{ euler.abbr }}-card__link-indicator">
                        Learn More
                    </div>
                </div>
            </a>
            <div class="modal _team-member fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-body-data">
                                <div class="__img">
                                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                                </div>
                                <p class="__title h2">Felix Dimmerling</p>
                                <p class="__subtitle h5">Developer</p>
                                <div class="hbc-social">
                                    <a href="{{ linkedinURL }}">
                                        <span class="bi-linkedin"></span>
                                    </a>
                                </div>
                                <button class="btn">Contact</button>
                            </div>
                            <div class="modal-body-text">
                                <nav class="d-flex">
                                    <span class="h5">About</span>
                                    <button type="button" class="btn-close d-none d-md-block ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                </nav>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, consequatur. At porro odio, eum magnam quo voluptas eveniet quos? Voluptas commodi eveniet voluptate deserunt quas excepturi numquam officia dolor minima?
                                Quasi veniam fugiat expedita nam eveniet iure non ab quo a, temporibus, ullam, maiores provident quibusdam dolorum optio maxime consectetur alias dignissimos sequi laborum sit sint. Illo odit iure id.
                                Optio, sapiente laboriosam! Voluptate iure esse obcaecati quae, illum blanditiis architecto laboriosam. Minima quae illo debitis. Aut officiis rerum facilis eligendi, architecto voluptates nam fuga molestias nulla sequi, cupiditate quo.
                                Veritatis repellat vero, nobis, eius omnis eum soluta non, velit cupiditate mollitia fugit dolores? Dolore alias totam a, facilis ipsa aperiam, dignissimos iusto ex veritatis minima culpa eaque harum fugiat.
                                Dolorum incidunt dignissimos adipisci aperiam ipsam voluptates dolore sunt consectetur aliquam eum ipsum pariatur necessitatibus perferendis, nulla recusandae fugiat alias rem qui, eligendi assumenda! Nisi sed deserunt vel placeat molestias!</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <h5 class="modal-title">Felix</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="{{ euler.abbr }}-card {{ elrCardModifier }}">
            <a class="{{ euler.abbr }}-card__container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="{{ euler.abbr }}-card__img">
                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                </div>
                <div class="{{ euler.abbr }}-card__body">
                    <h3 class="{{ euler.abbr }}-card__title">Felix Dimmerling</h3>
                    <div class="{{ euler.abbr }}-card__subtitle">
                        Developer
                    </div>
                    <div class="{{ euler.abbr }}-card__text">
                        {{ elrCardText | safe }}
                    </div>
                    <div class="{{ euler.abbr }}-card__link-indicator">
                        Learn More
                    </div>
                </div>
            </a>
            <div class="modal _team-member fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-body-data">
                                <div class="__img">
                                    <img src="https://felixdimmerling.com/across/fd/images/me.jpg" alt="">
                                </div>
                                <p class="__title h2">Felix Dimmerling</p>
                                <p class="__subtitle h5">Developer</p>
                                <div class="hbc-social">
                                    <a href="{{ linkedinURL }}">
                                        <span class="bi-linkedin"></span>
                                    </a>
                                </div>
                                <button class="btn">Contact</button>
                            </div>
                            <div class="modal-body-text">
                                <nav class="d-flex">
                                    <span class="h5">About</span>
                                    <button type="button" class="btn-close d-none d-md-block ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                </nav>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, consequatur. At porro odio, eum magnam quo voluptas eveniet quos? Voluptas commodi eveniet voluptate deserunt quas excepturi numquam officia dolor minima?
                                Quasi veniam fugiat expedita nam eveniet iure non ab quo a, temporibus, ullam, maiores provident quibusdam dolorum optio maxime consectetur alias dignissimos sequi laborum sit sint. Illo odit iure id.
                                Optio, sapiente laboriosam! Voluptate iure esse obcaecati quae, illum blanditiis architecto laboriosam. Minima quae illo debitis. Aut officiis rerum facilis eligendi, architecto voluptates nam fuga molestias nulla sequi, cupiditate quo.
                                Veritatis repellat vero, nobis, eius omnis eum soluta non, velit cupiditate mollitia fugit dolores? Dolore alias totam a, facilis ipsa aperiam, dignissimos iusto ex veritatis minima culpa eaque harum fugiat.
                                Dolorum incidunt dignissimos adipisci aperiam ipsam voluptates dolore sunt consectetur aliquam eum ipsum pariatur necessitatibus perferendis, nulla recusandae fugiat alias rem qui, eligendi assumenda! Nisi sed deserunt vel placeat molestias!</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <h5 class="modal-title">Felix</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
