<div class="{{ euler.abbr }}-figure {{ elrFigureModifiers }}">
    <figure class="{{ euler.abbr }}-figure__container">
        <img src="{{ elrFigureUrl }}" alt="{{ elrFigureAlt }}">
        <figcaption class="{{ euler.abbr }}-figure__caption">
            {{ elrFigureCaption }}
        </figcaption>
    </figure>
</div>