<section class="hbc-statement">
    <div class="__col _heading">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
    </div>
    <div class="__col _text">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ducimus. Quam qui eos velit, itaque ipsam omnis sint veritatis nisi dolore illo exercitationem dolores necessitatibus laborum tempore nostrum veniam delectus?
        </div>
    </div>
</section>