<section class="hbc-blog-text">
    <div class="__container">
        <div class="__col _side-start">
            <p>start col</p>
        </div>
        <div class="__col _main-text">
            {{ hbcBlogText | safe }}
        </div>
        <div class="__col _side-end">
            <p>end col</p>
        </div>
    </div>
</section>