<section class="hbc-grid">
    <div class="__layout _row-cols-2">
        {% set hbcCardOptions %}
        
        {% endset %}
        {% set hbcCardLink %}

        {% endset %}
        {% set hbcCardTitle %}
        Cyber Security
        {% endset %}
        {% set hbcCardSubtitle %}
        
        {% endset %}
        {% set hbcCardDesc %}
        Together, we ensure protection of your most valuable assets.
        {% endset %}
        {% set hbcCardImg %}/assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg{% endset %}
        {% set hbcCardText %}
        <li>Proactive Defense</li><li>Adversarial Security</li><li>Threat Response</li><li>Awareness Trainings</li>
        {% endset %}
        {% include "partials/hbc-card.njk" %}

        {% set hbcCardOptions %}
        _gold
        {% endset %}
        {% set hbcCardLink %}
        
        {% endset %}
        {% set hbcCardTitle %}
        Technology Consulting
        {% endset %}
        {% set hbcCardSubtitle %}
        
        {% endset %}
        {% set hbcCardDesc %}
        Together, we develop your digital strategy and operationally implement end-to-end.
        {% endset %}
        {% set hbcCardImg %}{% endset %}
        {% set hbcCardText %}
        <li>Transformative Initiatives</li><li>Digital Transformation</li><li>Systems Implementation</li><li>Process Optimization</li><li>Customer Success</li>
        {% endset %}
        {% include "partials/hbc-card.njk" %}

        {% set hbcCardOptions %}
        _gold
        {% endset %}
        {% set hbcCardLink %}
        
        {% endset %}
        {% set hbcCardTitle %}
        Software Engineering
        {% endset %}
        {% set hbcCardSubtitle %}
        
        {% endset %}
        {% set hbcCardDesc %}
        Deploy our handpicked elite software engineers to guide you, from ideation to implementation, and bring your products to life.
        {% endset %}
        {% set hbcCardImg %}{% endset %}
        {% set hbcCardText %}
        <li>Custom Software Development</li><li>Mobile App Development</li><li>Web App Development</li><li>Cloud Computing</li><li>Smart Design UI/UX</li>
        {% endset %}
        {% include "partials/hbc-card.njk" %}

        {% set hbcCardOptions %}

        {% endset %}
        {% set hbcCardLink %}
        
        {% endset %}
        {% set hbcCardTitle %}
        hotbird dynamics
        {% endset %}
        {% set hbcCardSubtitle %}
        
        {% endset %}
        {% set hbcCardDesc %}
        We help startups and established firms scale their business with a unique methodology that merges nexaya's technology tools and alpyna's finance toolkit to provide a solid foundation for success.
        {% endset %}
        {% set hbcCardImg %}{% endset %}
        {% set hbcCardText %}
        <li>Ideation and Concept Development</li><li>Agile Development Processes</li><li>Product-market Fit Analysis</li><li>Investment and Funding Consulting</li><li>Pitch deck and Business Plan Development</li>
        {% endset %}
        {% include "partials/hbc-card.njk" %}
    </div>
</section>
