<section class="hbc-blog-text">
    <div class="__container">
        <div class="__col _side-start">

        </div>
        <div class="__col _main-text">
            {{ hbcBlogText | safe }}
        </div>
        <div class="__col _side-end">

        </div>
    </div>
</section>