<section class="hbc-image {{ hbcImageModifiers }}">
    <div class="__container">
        <figure class="__col">
            <img src="{{ hbcImageUrl }}" alt="{{ hbcImageAlt }}">
            <figcaption class="__caption">
                {{ hbcImageCaption }}
            </figcaption>
        </figure>
    </div>
</section>