<section class="hbc-cta">
    <div class="__container">
        <div class="__col _text">
            <div class="__heading">
                The minds behind the magic
            </div>
            <div class="__text">
                nexaya is an independent company with a deep passion for technology. We honor our knowledge by using it
                to impact the digital space together with our partners.
            </div>
            <div class="__cta-group">
                <button type="button" class="btn">Contact Us</button>
            </div>
        </div>
        <div class="__col _img">
            <img src="assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg" alt="">
        </div>
    </div>
</section>