<section class="hbc-display-list _alternating">
    <div class="__item">
        <div class="__col _text">
            <h2>Best business match</h2>
            <div>
                Our approach is one of bridge-building, not wall-building. We start by understanding your business, strengths, weaknesses, and goals, carefully selecting the best strategy and approach to match your
                needs.
            </div>
        </div>
        <div class="__col _img">
            <img src="/assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg" alt="">
        </div>
    </div>
    <div class="__item">
        <div class="__col _text">
            <h2>Transparent pricing model</h2>
            <div>
                At the heart of our mission is the desire to cultivate trust. To achieve this, we've set up a transparent pricing model right from the outset, so you can rest easy knowing there are no sneaky
                charges hiding in the shadows.
            </div>
        </div>
        <div class="__col _img">
            <img src="/assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg" alt="">
        </div>
    </div>
    <div class="__item">
        <div class="__col _text">
            <h2>Team harmony and stability</h2>
            <div>
                we seek out individuals who have a genuine passion for their work, and we provide them with unwavering(endless) support, creating in a dependable and steadfast team.
            </div>
        </div>
        <div class="__col _img">
            <img src="/assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg" alt="">
        </div>
    </div>
    <div class="__item">
        <div class="__col _text">
            <h2>Apply proprietary know-how</h2>
            <div>
                We apply our proprietary know-how to achieve immediate success in your business, ensuring quick and effective results.
            </div>
        </div>
        <div class="__col _img">
            <img src="/assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg" alt="">
        </div>
    </div>
</section>