<header id="header" class="header {{ headerModifier }}">
    <nav id="navbar" class="__navbar">
        <div class="__navbar-container">
            <a href="/" class="__navbar-brand">
                <img class="__logo _black-text" src="/assets/brand/hotbird-logo-inline.png" alt="hotbird logo">
                <img class="__logo _white-text" src="/assets/brand/hotbird-logo-inline-dark.png" alt="hotbird logo">
            </a>
            <button class="__navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="__navbar-collapse collapse" id="navbar-collapse">
                <ul class="__nav">
                    <li class="__nav-item">
                        <a class="__nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="dropdown __nav-item">
                        <a class="__nav-link" href="#">Services</a>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            <span class="bi bi-caret-down-fill"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
                            <li><a class="dropdown-item" href="#">Technology consulting</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Software Engineering</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item" href="#">Multi-Level-Dropdown</a>
                                <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                    <span class="bi bi-caret-down-fill"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
                                    <li><a class="dropdown-item" href="#">Technology consulting</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Software Engineering</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="__nav-item">
                        <a class="__nav-link" href="/team/">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="__banner">    
        <div class="__container">
            <div class="__col _text">
                <div class="__headlines">
                    <h1 class="__tagline">
                        Your business is precious.
                        <br>
                        Together, we protect it.
                    </h1>
                    <div class="__subtitle">
                        Cyber Security Solutions made to fit.
                    </div>
                    <a href="" class="btn">Browse</a>
                </div>
                <div class="__intro">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nostrum a rerum vero impedit doloribus, voluptates nemo quia ad, praesentium ut maxime eveniet numquam saepe quaerat harum voluptatibus sint explicabo.
                </div>
            </div>
            <div class="__col _img">
                <img src="/assets/img/jr-korpa-VtDdOeuNg4o-unsplash.jpeg" alt="">
            </div>
        </div>
    </div>
</header>
