<header class="{{ euler.abbr }}-header {{ elrHeaderModifier }}">
    <nav class="{{ euler.abbr }}-navbar">
        <div class="{{ euler.abbr }}-navbar__container">
            <a href="" class="{{ euler.abbr }}-navbar__brand">
                <img class="{{ euler.abbr }}-navbar__logo {{ euler.abbr }}-navbar__logo--black-text" src="{{ euler.assetsDir }}brand/euler-logo-inline-black.png" alt="logo">
                <img class="{{ euler.abbr }}-navbar__logo {{ euler.abbr }}-navbar__logo--white-text" src="{{ euler.assetsDir }}brand/euler-logo-inline-white.png" alt="logo">
            </a>
            <button class="{{ euler.abbr }}-navbar__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#elr-navbar__collapse" aria-controls="elr-navbar__collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="{{ euler.abbr }}-navbar__collapse collapse" id="elr-navbar__collapse">
                <ul class="{{ euler.abbr }}-navbar__nav">
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item dropdown">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="#">Services</a>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            <span class="bi bi-caret-down-fill"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
                            <li><a class="dropdown-item" href="#">Technology consulting</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Software Engineering</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item" href="#">Multi-Level-Dropdown</a>
                                <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                    <span class="bi bi-caret-down-fill"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
                                    <li><a class="dropdown-item" href="#">Technology consulting</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Software Engineering</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="team/">Team</a>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="company-cards/">Value Cards</a>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="blog/">Blog Article</a>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="book/">Book</a>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="partner/">Partner</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="{{ euler.abbr }}-hero">    
        <div class="{{ euler.abbr }}-hero__container">
            <div class="{{ euler.abbr }}-hero__col {{ euler.abbr }}-hero__col--content">
                {% if elrTemplateType == "blog" %}
                    <div class="{{ euler.abbr }}-hero__main">
                        <h1 class="{{ euler.abbr }}-hero__title">
                            Your business is precious.
                            <br>
                            Together, we protect it.
                        </h1>
                    </div>
                {% else %}
                    <div class="{{ euler.abbr }}-hero__main">
                        <h1 class="{{ euler.abbr }}-hero__title">
                            Your business is precious.
                            <br>
                            Together, we protect it.
                        </h1>
                        <div class="{{ euler.abbr }}-hero__subtitle">
                            Cyber Security Solutions made to fit.
                        </div>
                        <div class="{{ euler.abbr }}-hero__cta">
                            <a href="" class="btn">Browse</a>
                        </div>
                    </div>
                    <div class="{{ euler.abbr }}-hero__supplement">
                        <div class="{{ euler.abbr }}-hero__introtext">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nostrum a rerum vero impedit doloribus, voluptates nemo quia ad, praesentium ut maxime eveniet numquam saepe quaerat harum voluptatibus sint explicabo.
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="{{ euler.abbr }}-hero__col {{ euler.abbr }}-hero__col--media">
                <img src="{{ euler.assetsDir }}brand/open-graph.png" alt="">
            </div>
        </div>
    </div>
    {% if elrTemplateType == "blog" %}
        <div class="{{ euler.abbr }}-meta">
            <div class="{{ euler.abbr }}-meta__container">
                <div class="{{ euler.abbr }}-meta__col {{ euler.abbr }}-meta__col--side-start">

                </div>
                <div class="{{ euler.abbr }}-meta__col {{ euler.abbr }}-meta__col--main">
                    <div class="{{ euler.abbr }}-pill-group">
                        <div class="{{ euler.abbr }}-pill-group__wrapper">
                            <a href="" class="{{ euler.abbr }}-pill-group__item {{ euler.abbr }}-pill-group__item--link">Aktionsfeld</a>
                            <a href="" class="{{ euler.abbr }}-pill-group__item {{ euler.abbr }}-pill-group__item--link">Mehrwert</a>
                        </div>
                    </div>
                </div>
                <div class="{{ euler.abbr }}-meta__col {{ euler.abbr }}-meta__col--side-end">

                </div>
            </div>
            <div class="{{ euler.abbr }}-meta__container">
                <div class="{{ euler.abbr }}-meta__col {{ euler.abbr }}-meta__col--side-start">
                    {% if elrTemplate == "book" %}
                        <div class="{{ euler.abbr }}-meta__media">
                            <img src="{{ euler.assetsDir }}brand/open-graph-vertical.png" alt="">
                        </div>
                    {% endif %}
                    {% if elrTemplate == "partner" %}
                        <div class="{{ euler.abbr }}-meta__media">
                            <img src="{{ euler.assetsDir }}brand/euler-logo-inline-black.png" alt="">
                        </div>
                    {% endif %}
                </div>
                <div class="{{ euler.abbr }}-meta__col {{ euler.abbr }}-meta__col--main">
                    <h2>This is the Long Title field.</h2>
                    <h3>Subtitle text here for a good introduction.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nemo officia eius sunt id temporibus fugiat, eos praesentium tempore ipsum molestiae eum. Nemo ad totam nostrum iste cum, pariatur ea.</p>
                    {% if elrTemplate == "partner" %}
                        <div class="{{ euler.abbr }}-meta__table">
                            <table class="{{ euler.abbr }}-table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Titel</th>
                                        <td>Value</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Titel</th>
                                        <td>Value</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Titel</th>
                                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur sequi illo velit deserunt expedita excepturi totam, iste temporibus tenetur molestiae cum doloremque quisquam modi labore impedit minus dolorum dolore?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Titel</th>
                                        <td>Value</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Titel</th>
                                        <td>Value</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    <div class="{{ euler.abbr }}-meta__info">
                        <div class="{{ euler.abbr }}-meta__author">
                            <img src="{{ euler.assetsDir }}brand/open-graph.png" alt="">
                            <span>Bernd das Brot</span>
                        </div>
                        <div class="{{ euler.abbr }}-meta__published">
                            <span>01.01.1970</span>
                        </div>
                    </div>
                </div>
                <div class="{{ euler.abbr }}-meta__col {{ euler.abbr }}-meta__col--side-end">
                    <div class="{{ euler.abbr }}-pill-group">
                        <small class="{{ euler.abbr }}-pill-group__title">Topics</small>
                        <div class="{{ euler.abbr }}-pill-group__wrapper">
                            <span class="{{ euler.abbr }}-pill-group__item">Innovation</span>
                            <span class="{{ euler.abbr }}-pill-group__item">Erneuerung</span>
                            <span class="{{ euler.abbr }}-pill-group__item">Ausbildung</span>
                            <span class="{{ euler.abbr }}-pill-group__item">Innovation Culture</span>
                            <span class="{{ euler.abbr }}-pill-group__item">Innovation Ecosystem</span>
                            <span class="{{ euler.abbr }}-pill-group__item">Business Strategy</span>
                            <span class="{{ euler.abbr }}-pill-group__item">Ecosystem Assessment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</header>
