<header class="{{ euler.abbr }}-header {{ elrHeaderModifier }}">
    <nav class="{{ euler.abbr }}-navbar">
        <div class="{{ euler.abbr }}-navbar__container">
            <a href="" class="{{ euler.abbr }}-navbar__brand">
                <img class="{{ euler.abbr }}-navbar__logo {{ euler.abbr }}-navbar__logo--black-text" src="{{ euler.assetsDir }}brand/hotbird-logo-inline.png" alt="logo">
                <img class="{{ euler.abbr }}-navbar__logo {{ euler.abbr }}-navbar__logo--white-text" src="{{ euler.assetsDir }}brand/hotbird-logo-inline-dark.png" alt="logo">
            </a>
            <button class="{{ euler.abbr }}-navbar__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#elr-navbar__collapse" aria-controls="elr-navbar__collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="{{ euler.abbr }}-navbar__collapse collapse" id="elr-navbar__collapse">
                <ul class="{{ euler.abbr }}-navbar__nav">
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item dropdown">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="#">Services</a>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            <span class="bi bi-caret-down-fill"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
                            <li><a class="dropdown-item" href="#">Technology consulting</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Software Engineering</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item" href="#">Multi-Level-Dropdown</a>
                                <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                    <span class="bi bi-caret-down-fill"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
                                    <li><a class="dropdown-item" href="#">Technology consulting</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Software Engineering</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="team/">Team</a>
                    </li>
                    <li class="{{ euler.abbr }}-navbar__nav-item">
                        <a class="{{ euler.abbr }}-navbar__nav-link" href="company-cards/">Company Cards</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="{{ euler.abbr }}-hero">    
        <div class="{{ euler.abbr }}-hero__container">
            <div class="{{ euler.abbr }}-hero__col {{ euler.abbr }}-hero__col--content">
                <div class="{{ euler.abbr }}-hero__main">
                    <h1 class="{{ euler.abbr }}-hero__title">
                        Your business is precious.
                        <br>
                        Together, we protect it.
                    </h1>
                    <div class="{{ euler.abbr }}-hero__subtitle">
                        Cyber Security Solutions made to fit.
                    </div>
                    <div class="{{ euler.abbr }}-hero__cta">
                        <a href="" class="btn">Browse</a>
                    </div>
                </div>
                <div class="{{ euler.abbr }}-hero__supplement">
                    <div class="{{ euler.abbr }}-hero__introtext">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nostrum a rerum vero impedit doloribus, voluptates nemo quia ad, praesentium ut maxime eveniet numquam saepe quaerat harum voluptatibus sint explicabo.
                    </div>
                </div>
            </div>
            <div class="{{ euler.abbr }}-hero__col {{ euler.abbr }}-hero__col--media">
                <img src="{{ euler.assetsDir }}brand/open-graph.png" alt="">
            </div>
        </div>
    </div>
</header>
